In [13]:
from pyspark.sql import SparkSession, functions as F, types as T
from pyspark.sql.functions import col, count,sum

In [14]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [9]:
print(spark.version)

3.4.1

In [31]:
actor_df = spark.read.csv('./data/actor.csv', header=True, inferSchema=True)
address_df = spark.read.csv('./data/address.csv', header=True, inferSchema=True)
category_df = spark.read.csv('./data/category.csv', header=True, inferSchema=True)
city_df = spark.read.csv('./data/city.csv', header=True, inferSchema=True)
country_df = spark.read.csv('./data/country.csv', header=True, inferSchema=True)
customer_df = spark.read.csv('./data/customer.csv', header=True, inferSchema=True)
film_df = spark.read.csv('./data/film.csv', header=True, inferSchema=True)
film_actor_df = spark.read.csv('./data/film_actor.csv', header=True, inferSchema=True)
film_category_df = spark.read.csv('./data/film_category.csv', header=True, inferSchema=True)
inventory_df = spark.read.csv('./data/inventory.csv', header=True, inferSchema=True)
language_df = spark.read.csv('./data/language.csv', header=True, inferSchema=True)
payment_df = spark.read.csv('./data/payment.csv', header=True, inferSchema=True)
rental_df = spark.read.csv('./data/rental.csv', header=True, inferSchema=True)
staff_df = spark.read.csv('./data/staff.csv', header=True, inferSchema=True)
store_df = spark.read.csv('./data/store.csv', header=True, inferSchema=True)

# Домашнє завдання на тему Spark SQL

Задачі з домашнього завдання на SQL потрібно розвʼязати за допомогою Spark SQL DataFrame API.

- Дампи таблиць знаходяться в папці `data`. Датафрейми таблиць вже створені в клітинці вище.
- Можете створювати стільки нових клітинок, скільки вам необхідно.
- Розвʼязок кожної задачі має бути відображений в самому файлі (використати метод `.show()`)
- код має бути оформлений у відповідності із одним із стилем, показаним лектором на занятті 13.

**Увага!**
Використовувати мову запитів SQL безпосередньо забороняється, потрібно використовувати виключно DataFrame API!

1.
Вивести кількість фільмів в кожній категорії.
Результат відсортувати за спаданням.

In [16]:
joined_df = category_df.join(film_category_df, category_df.category_id == film_category_df.category_id)

result_df = joined_df.groupBy("name").agg(count("film_id").alias("count_films"))

sorted_result_df = result_df.orderBy(col("count_films").desc())

sorted_result_df.show()

+-----------+-----------+
|       name|count_films|
+-----------+-----------+
|     Sports|         74|
|    Foreign|         73|
|     Family|         69|
|Documentary|         68|
|  Animation|         66|
|     Action|         64|
|        New|         63|
|      Drama|         62|
|      Games|         61|
|     Sci-Fi|         61|
|   Children|         60|
|     Comedy|         58|
|     Travel|         57|
|   Classics|         57|
|     Horror|         56|
|      Music|         51|
+-----------+-----------+

2.
Вивести 10 акторів, чиї фільми брали на прокат найбільше.
Результат відсортувати за спаданням.

In [19]:
film_actor_df = film_actor_df.withColumnRenamed("actor_id", "fa_actor_id")
film_df = film_df.withColumnRenamed("film_id", "fa_film_id")
inventory_df = inventory_df.withColumnRenamed("film_id", "i_film_id")
rental_df = rental_df.withColumnRenamed("inventory_id", "r_inventory_id")

joined_df = actor_df \
    .join(film_actor_df, actor_df.actor_id == film_actor_df.fa_actor_id) \
    .join(film_df, film_actor_df.film_id == film_df.fa_film_id) \
    .join(inventory_df, film_df.fa_film_id == inventory_df.i_film_id) \
    .join(rental_df, inventory_df.inventory_id == rental_df.r_inventory_id)

result_df = joined_df.groupBy("actor_id", "first_name", "last_name") \
    .agg(count("rental_id").alias("rental_count"))

sorted_result_df = result_df.orderBy(col("rental_count").desc()).limit(10)

sorted_result_df.show()

+--------+----------+-----------+------------+
|actor_id|first_name|  last_name|rental_count|
+--------+----------+-----------+------------+
|     107|      GINA|  DEGENERES|         753|
|     181|   MATTHEW|     CARREY|         678|
|     198|      MARY|     KEITEL|         674|
|     144|    ANGELA|WITHERSPOON|         654|
|     102|    WALTER|       TORN|         640|
|      60|     HENRY|      BERRY|         612|
|     150|     JAYNE|      NOLTE|         611|
|      37|       VAL|     BOLGER|         605|
|      23|    SANDRA|     KILMER|         604|
|      90|      SEAN|    GUINESS|         599|
+--------+----------+-----------+------------+

3.
Вивести категорія фільмів, на яку було витрачено найбільше грошей
в прокаті

In [34]:
joined_df = payment_df \
    .join(rental_df, payment_df.rental_id == rental_df.rental_id) \
    .join(inventory_df, rental_df.inventory_id == inventory_df.inventory_id) \
    .join(film_category_df, inventory_df.film_id == film_category_df.film_id) \
    .join(category_df, film_category_df.category_id == category_df.category_id)

result_df = joined_df.groupBy("name") \
    .agg(sum("amount").alias("rental_count"))

sorted_result_df = result_df.orderBy(col("rental_count").desc()).limit(10)

sorted_result_df.show()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

4.
Вивести назви фільмів, яких не має в inventory.

5.
Вивести топ 3 актори, які найбільше зʼявлялись в категорії фільмів “Children”

Stop Spark session:

In [ ]:
spark.stop()